@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://i.postimg.cc/QdC6Fr13/00068.png");
  width: 100%;
  background-color: #000000e8;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
svg {

}

/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: #3e3f3f;
  fill-opacity: 1;
  z-index: -1;
}
svg g:hover {
  fill: #7bf6b9;
  fill-opacity: 0.7;
}

svg g polygon {
  stroke: #EEBC1D;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
.grid > svg path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.layer {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.App{
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;

}
.grid{
  height: 70vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-select {
  border: none;
  outline: none;
  width: 25vw;
}
#alert-banner {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 5px;
  background-color: red;
  color: white;
  text-align: center;
  display: none;
  transition: all 0.5s ease;
}