*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://i.postimg.cc/QdC6Fr13/00068.png");
  width: 100%;
  background-color: #000000e8;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
svg {

}
/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: #3e3f3f;
  fill-opacity: 1;
  background-color: red;
}
svg g:hover {
  fill: #7bf6b9;
  fill-opacity: 0.7;
}
svg g:hover text {
  fill-opacity: 1;
}

svg g polygon {
  stroke: #7bf6b9;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
svg g text {
  font-size: 0.22em;
  fill: white;
  fill-opacity: 0.7;
  transition: fill-opacity .5s;
}
svg path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.layer {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.App{
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
  align-items: space-evenly;

}
.grid{
  height: 60vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.search{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-select {
  border: none;
  outline: none;
  width: 25vw;
}
