@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

*{
  margin: 0;
  padding: 0;
}
body{
  background-image: url("https://i.postimg.cc/QdC6Fr13/00068.png");
  width: 100%;
  background-color: #000000e8;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
svg {

}

/*
Russian blue pattern:
#7be3f6
#4499a9
#276a76
#133b43
#03090a
*/
svg g {
  fill: #3e3f3f;
  fill-opacity: 1;
  z-index: -1;
}
svg g:hover {
  fill: #7bf6b9;
  fill-opacity: 0.7;
}

svg g polygon {
  stroke: #EEBC1D;
  stroke-width: 0.2;
  transition: fill-opacity .5s;
}
.grid > svg path {
  fill: none;
  stroke: #7be3f6;
  stroke-width: 0.2em;
  stroke-opacity: 0.7;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.layer {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.App{
  height: 100vh;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;

}

.mainBox{
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  color: white;
}
.grid{
  height: 70vh;
  width: 50vw;
  display: flex;
  justify-content: center;
  align-content: center;
}

.zodiacInfo{
  width: 20vw;
}
.runeInfo{
  width: 20vw;
  height: 100%;
}
.search{
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-select {
  border: none;
  outline: none;
  width: 25vw;
}
.infoBox {
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  width: 80%;
  height: 100%;
  color:black
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}